.container {
	background: url("http://img04.deviantart.net/d05c/i/2013/311/0/1/dark_field_by_lillianevill-d6tcoa5.jpg");
	background-size: cover;
	position: relative;
	height: 95vh;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.mine {
	position: absolute;
	height: 150px;
	width: 3%;
	margin-left: 48%;
	background-color: rgba(255,255,255,0.5);
}

#mine_1 {
	top: -150px;
}

#mine_2 {
	top: 150px;
}

#mine_3 {
	top: 450px;
}

#container2 {
	height: 470px;
	width: 65%;
	display: inline-block;
	box-sizing: border-box;
	margin: 20px;
	margin-bottom: 30px;
	background-color: #499167;
	background-image:url('https://cdn.tutsplus.com/psd/uploads/legacy/001_WebDesignWeek/02_Layout/pattern_14.jpg');
	background-repeat: repeat-x;
	opacity: 0.7;
}	

#replay_div {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	display: none;
}

.replay {
	border: none;
	padding: 25px;
	font-family: 'Amatic SC', cursive;
	color: #252627;
	background-color: white;
	display: block;
	margin: 0 auto;
	font-size: 40px;
	margin-top: 30%;
}

#rules {
	font-style: italic;
	font-size: 18px;
	color: red;
	vertical-align: top;
	text-align: center;
}

.score {
	color: #2C2C34;
	font-weight: bold;
	display: inline-block;
	width: 20%;
	margin-top: 5%;
	margin-left: 5px;
	padding: 10px;
	background-color: #6E8898;
	font-size: 18px;
	box-shadow: 4px 4px 0px 1px #5F8898;
	opacity: .6;

}

.finish {
	color: red;
	font-weight: bolder;
	font-size: 40px;
	text-align: center;
	letter-spacing: 20px; 
	width: 830px;
	height: 50px;
	display: inline-block;
	margin: 1px;
	background-color: #FFF;
	background-size: 50px 50px;
 	background-position: 0 0, 25px 25px;
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
                    linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
	opacity: 0.7;                    
}

.r1 {
	width: 45px;
	display: inline-block;
	position: absolute;
	top: 550px;
	left: 40%;
	color: black;
	font-weight: bold;
	padding: 15px;
}

.r2 {
	width: 45px;
	display: inline-block;
	top: 550px;
	left: 70%;
	position: absolute;
	color: black;
	font-weight: bold;
	padding: 15px;
}


